.bg-header {
	background-color: rgb(25, 25, 25);
}

.bg-header-imag {
	background:darkgrey url(bg.png) center bottom;
	background-repeat: no-repeat;
  }

.bg-imag {
	height: 625px;
	}

.logo-container {
	height: 70px;
}

.logo {
	line-height: 4.8;
}