.bg-header {
	background-color: rgb(25, 25, 25);
}

.bg-header-imag {
	background:darkgrey url(bg.png) center bottom;
	background-repeat: no-repeat;
  }

.bg-imag {
	height: 625px;
	}

.logo-container {
	height: 70px;
}

.logo {
	line-height: 4.8;
}

.menu {
	height: 70px;
}

.nav li {
	float: left;
	margin-right: 25px;
  }
  
  .nav li:last-child {
	margin-right: 0px;
  }
  
  .nav a {
	height: 70px;
	line-height: 5.1;
	width: 115px;
	text-align: center;
	font-size: 14px;
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-transform: uppercase;
	display: block;
  }
  
  .nav a:hover {
	border-bottom: 3px solid rgba(208, 101, 101, 1);
	}
	
	.col-lg-12 {
		width: 100%;
		height: 555px;
	}


.caption {
	text-align: center;
  padding-top: 75px;
}

h3 {
  font-size: 28px;
  color: rgba(255, 255, 255, 0.702);
  text-transform: uppercase;
  line-height: 0.964;
  padding-bottom: 25px;
}

h1 {
  font-size: 42px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: bold;
  padding-bottom: 30px;
}