.col-lg-9 {
  width: 75%;
  height: 40px;
}

.social-icons {
    width: 200px;
    height: 40px;
  }

  .icons {
    line-height: 2.8;
    padding-left: 20px;
  }

  .icons-facebook {
    padding-left: 0;
  }