* {
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
}

a {
	text-decoration: none;
  }
  
.container {
	width: 1170px;
	margin: 0 auto;
	overflow: hidden;
}
.row:after {
	display: block;
	clear: both;
	content:"";
}
[class*="col-"] {
	float: left;
}

@media(min-width: 768px) {
	.container {
		width: 750px;
	}
}
@media(min-width: 992px) {
	.container {
		width: 970px;
	}
}
@media(min-width: 1200px) {
	.container {
		width: 1170px;
	}
}