.search {
    position: relative;
    margin: 25px 25px;
    height: 40px;
  }

.pole {
    height: 40px;
    width: 260px;
    border-radius: 22px;
    background-color: rgb(245, 245, 245);
    border: none;
    font-size: 15px;
    outline: none;
    padding-left: 20px;
  }

  .button-search {
    position: absolute;
    top: 3px;
    right: 0px;
    height: 33px;
    width: 33px;
    border-radius: 50px;
    border: none;
    background: #f35a8e url("search.png");
    background-repeat: no-repeat;
    background-position: center center;
    outline: none;
  }

  .button-search:hover {
    background-color: #e75687;
  }